
body{
    background-color: beige;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}
.mesaje{
    border-radius: 15px;
    padding: 10px;
    margin: 16px 0;
    color: black;
    font-size: 20px;
    text-align: center;
}
.gifs{
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    max-width: 100%;
    height: auto;
    box-shadow:0 0 10px rgba(0, 0, 255, 0.5); ;
    
}
.rederigir{
  border:  none;
    background-color: violet;
    color: white;
    padding: 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius:  5px;
}